.contact{
    background-color: #F67E7E;
    padding: 76px 260px 76px 263px;
}

.started{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.started{
    h3{
        font-size: 48px;
        color: #012F34;
    }
}

.started-img{
    position: absolute;
    right: 1175px;
    bottom: -77px;
    width: 200px;
    height: 150px;
}