.emploees{
    background-color: #012F34;
}

.result{
    position: relative;
    height: 437px;
}

.result-img{
    position: absolute;
    right: 1115px;
    width: 200px;
    height: 200px;
}

.result-h3{
    color: #fff;
    font-size: 50px;
    position: absolute;
    padding-top: 140px;
    left: 330px;
}

.object{
    img{
    margin-left: 50px;
    padding-top: 250px;
    }
} 