// TEXT AREA START
$input-bg-color:$midnight-color;
$input-border-bottom-size:2px;
$input-border-bottom-style:solid;
$input-border-bottom-color:#979797;
$input-width:540px;
$input-height:42px;
$input-outline:none;
$input-font-size:15px;
$input-placeholder-padding-left:14px;
$input-color:$white-color;
$input-font-weight:bold;
$input-transition: all .3s ease;
// TEXT AREA END